{% load bootstrap4 %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="footer">
                <p>&copy; 2025 One-Stop Shop for volunteering. All rights reserved.</p>
				<p>Created by Gyula Henrik Csendes as part of the BSc Data Science program, University of London.</p>
				<p>Powered by Django and Oracle database. Version: 1.0.0 (Last Updated: Jan 2025)</p>
				<p class="text-muted">This website is for educational purposes only. Volunteer opportunities listed are not reflect actual organizations.</p>
            </div>
        </div>
    </div>        
    </body>
</html>
